/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*/
:root{
    --blue: #10172A;
    --white: #FFF;
    --blueLigth: rgba(79,103,168,.6);
  }
  
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .content_card{
    width: 250px;
    height: 350px;
    background: rgba(255, 255, 255, .05);
    border: 1px solid var(--white);
    box-shadow: 0 0 1rem rgb(85, 84, 84);
    border-radius: 15px;
    text-align: center;

  }

  /* card */
  .card1{
    width: 250px;
    height: 350px;
    border: 1px solid #FFF;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(58, 58, 58, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
  }

  

  .card1:hover .card1_info{
    transform: translateX(0px);
    transition: 0.5s ease-in-out;
  }

  .card1_text{
    font-size: 40px;
    color:#000;
  }

  .card1_info{
    position: absolute;;
    width: 290px;
    height: 390px;
    background: var(--blueLigth);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    transform: translateY(390px);
    transition: 0.5s ease-in-out;
  }

  .card1_img{
    border-radius: 15%;
    width: 60%;
  }

  .card1_link{
    display: block;
    line-height: 50px;
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: var(--blue);
    border-radius: 5px;
  }

  .card1_link:hover{
    box-shadow: 0 0 .5rem #fff;
  }